<!-- <div class="col-12"> -->
<!-- <div class="logo">
    <img src="../../assets/logoFleury.png" alt="Logo">
  </div>
        
  <div class="accordion" id="accordionExample">

    <div class="card">
      <div class="card-header card-header-style" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link link-area" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Sobre <i class="fas fa-angle-down rotate-icon icon" ></i>
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse show link-area" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body card-body-list">
          <ul>
            <li>
             <a href="#">Sobre</a>
            </li> 
          </ul> 
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header card-header-style" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed link-area" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Design <i class="fas fa-angle-down rotate-icon icon"></i>
          </button>
        </h2>
      </div>

      <div id="collapseTwo" class="collapse show link-area" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body card-body-list">
          <ul>
            <li>
              <a routerLink="/tipografia">Tipografia</a>
            </li>
            <li>
              <a routerLink="/cores">Cores</a>
            </li>
            <li>
              <a href="#">Logos - aplicação </a>
            </li>
            <li>
             <a href="#">Layout grid</a>
            </li>
            <li>
               <a href="#">íconografia</a>
            </li>
          </ul>
        </div>
      </div>
    </div> -->

<!-- <div class="card">
      <div class="card-header card-header-style" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed link-area" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Componentes <i class="fas fa-angle-down rotate-icon icon"></i>
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse show link-area" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body card-body-list">
          <ul>
            <li>
              <a href="#">Button</a>
            </li>
            <li>
              <a href="#">Radio button</a>
            </li>
            <li>
              <a href="#">Checkbox</a>
            </li>
             <li>
              <a href="#">Dropdown</a>
            </li>
            <li>
              <a href="#">Form</a>
            </li>
            <li>
              <a href="#">Inputs forms</a>
            </li>
            <li>
              <a href="#">Link</a>
            </li>
            <li>
              <a href="#">Modal</a>
            </li>
            <li>
               <a href="#">Trackstep/progress indicator</a>
            </li>
            <li>
              <a href="#">Cards</a>
            </li>
            <li>
              <a href="#">Search</a>
            </li>
            <li>
              <a href="#">Tabs</a>
            </li> 
            <li>
              <a href="#">Tags</a>
            </li> 
           <li>
              <a href="#">Cards container</a>
            </li>
            <li>
              <a href="#">Tooltip</a>
            </li>  
             <li>
              <a href="#">Footer</a>
            </li>
            <li>
              <a href="#">Header</a>
            </li>
            <li>
              <a href="#">Pagination</a>
            </li>
            <li>
              <a href="#">Menu</a>
            </li> 
          </ul>
         </div>
        </div>
      </div> -->

<!-- </div> -->
<!-- </div> -->

<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-left">
  <div class="logo" id="hide">
    <img src="../../assets/unnamed.jpg" alt="randomPerson" id="top">
    <h2 style="text-align:center; margin-left: 12px">Funcionário</h2>
    <h4 id="Empresa" style="text-align: center; margin-left: 12px">Stefanini</h4>
  </div>

<hr>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Computador</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">API's</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link">Contact</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu">
          <a class="dropdown-item">Action</a>
          <a class="dropdown-item">Another action</a>
          <a class="dropdown-item">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">Separated link</a>
          <a class="dropdown-item">One more separated link</a>
        </div>
      </li>
    --> </ul> <!--
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link active" data-class="fixed-left">
          <i class="fa fa-arrow-left"></i>
          Fixed Left
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-class="fixed-top">
          <i class="fa fa-arrow-up"></i>
          Fixed Top
          <small>(original)</small>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-class="fixed-right">
          <i class="fa fa-arrow-right"></i>
          Fixed Right
        </a>
      </li>
    </ul> -->



<!--     
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link active" data-class="fixed-left">
          <i class="fa fa-arrow-left"></i>
          Sair
        </a>
      </li>
    </ul> -->
    
  </div>
</nav>