
    <!-- Sidebar -->
    <div class="bg-primary border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">
        <div class="navbar-text">
          <img src="assets/img/rikka.jpg" class="img" style="margin-left: 39px;">
          
        <!-- <span>{{ usuario }}</span> -->
          
        </div>    
      </div>
      <div class="list-group list-group-flush">
        <ul class="list"></ul>
        <li class="list-group-item bg-primary">
          <a href="#" style="color: black" >Geral</a>
        </li>
        <li class="list-group-item bg-primary">
          <a href="#" style="color: black">Gerenciamento de API's</a>
        </li>
        <li class="list-group-item bg-primary">
          <a href="#" style="color: black">Gerenciamento de Funcionarios</a>
        </li>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->
