<h1 style="margin-top:20px; margin-bottom: 50px; text-align:center">Lista de API's</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Tipo</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>NM_API_#1</td>
      <td>Aberta</td>
<td><span class="statusactive"></span></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>NM_API_#2</td>
      <td>Aberta</td>
<td><span class="statusactive"></span></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>NM_API_#3</td>
      <td>Local</td>
<td><span class="statusdesactive"></span></td>
    </tr>
  </tbody>
</table>