<div class="row" style="margin-right: 120px">
  <h1 style="text-align: center" class="col-md-12"> Dados do seu computador: </h1>
  <br>
  <br>
  <div class="col-md-1"></div>
  <div class="col-md-5" style="border: 1px black">
    <canvas id="myChart"></canvas>
    <button>Baixar relatório</button>
  </div>

  <div class="col-md-1"></div>

  <div class="col-md-5">
    <canvas id="myChart2"></canvas>
    <button>Baixar relatório</button>
  </div>


  <div class="col-md-1"></div>
  <div class="col-md-5">
    <canvas id="myChart3"></canvas>
    <button>Baixar relatório</button>
  </div>

  <div class="col-md-1"></div>

  <div class="col-md-5">
    <canvas id="myChart4"></canvas>
    <button>Baixar relatório</button>
  </div>


  <div class="col-md-1"></div>
  <div class="col-md-5">
    <canvas id="myChart5"></canvas>
    <button>Baixar relatório</button>
  </div>

  <div class="col-md-1"></div>

  <div class="col-md-5">
    <canvas id="myChart6"></canvas>
    <button>Baixar relatório</button>
  </div>
</div>